{% extends "jobs/base.html" %}

{% load markup %}

{% block zone_one %}

<section id="schedules">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<span class="top-tag-row">
					<ol class="breadcrumb" style="margin-bottom: 5px;">
						 <li><a href="https://about.azpm.org/">About</a></li>
						 <li class="active">Jobs</li>
					</ol>
				</span>
				<h1>Employment Opportunities</h1>
			</div>
		</div>
		<div class="row margintop">
			<div class="col-sm-8">
				 {% if perms.jobs.change_joblisting %}<a href="{% url admin:jobs_joblisting_changelist %}" title="Edit This" class="admin-edit-link" style="text-decoration:none" target="_blank">✎</a>{% endif %}
				 {% for job in jobs %}
				 <span style="display:block;margin-bottom:20px;color:#808080;font-size:16px;" class="altfont">
				 <a href="{{ job.link }}" style="font-size:24px;font-weight:700;" target="_blank">{{ job.title }}</a><br/>
				 <strong>Department:</strong> {{ job.description }}<br/>
				 <strong>Posting Date:</strong> {{ job.start }}</span>
				{% empty %}
				<span style="display:block;margin-bottom:20px;color:#808080;font-size:16px;" class="altfont">
				There are no positions currently available.
				</span>
				{% endfor %}
			</div>
			<div class="col-sm-4">
				<div class="well altfont" style="font-size:16px;line-height:22px !important;">
					<h4 class="altfont">Working at Arizona Public Media</h4>
						Arizona Public Media is committed to providing excellence in Public Broadcasting to the diverse communities of southern Arizona. Our employees are the single most important resource, making all we achieve possible.<br><br>
								Arizona Public Media values creativity, diversity and sincerity in public service. Arizona Public Media is an AA/ADA/EEO employer. We encourage all those qualified to apply.<br><br>
								In accordance with FCC guidelines (adopted Nov. 7, 2002), Arizona Public Media is required to provide notification of full-time job vacancies to organizations involved in assisting job seekers upon request by such organization.
								As a public service, Arizona Public Media Human Resources office will provide notification of jobs to interested organizations. To request notification, write:<br><br>
							<span style="display:block;margin-bottom:30px;">
								<strong>Arizona Public Media</strong><br>
								PO Box 210067<br>
								Tucson, AZ 85721-0067
							</span>
					<h4 class="altfont margintop">Equal Opportunity and Affirmative Action Links</h4>
					<a href="http://equity.arizona.edu/" target="_blank" style="display:block;margin-bottom:10px;">The University of Arizona's Equal Opportunity and Affirmative Action Office Web site</a>
					<a href="http://www.eeoc.gov/" target="_blank" style="display:block;margin-bottom:10px;">U.S. Equal Employment Opportunity Commission (EEOC)</a>
					<a href="https://about.azpm.org/equalopportunity/" target="_blank" style="display:block;margin-bottom:10px;">AZPM Equal Opportunity Report</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}