{% extends "contact/base.html" %}

{% load i18n %}

{% block zone_one %}
<section id="schedules">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<span class="top-tag-row">
						<ol class="breadcrumb" style="margin-bottom: 5px;">
						  <li><a href="https://about.azpm.org/">About</a></li>
						  <li class="active">Contact {{ contact_user.get_full_name }}</li>
						</ol>
					</span>
					<h1>Contact {{ contact_user.get_full_name }}</h1>
				</div>
			</div>			
			<div class="row">
				<div class="col-sm-8">
					<form action="." method="post">{% csrf_token %}
					<span style="overflow:hidden;height:80px;display:block;"></span>
					<div class="row">
						<div class="col-sm-12">
							<span class="simplered"><em>* denotes a required field</em></span>
						</div>
					</div>
					{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
						{% for field in form %}
							{% ifequal field.name "honeypot" %}
								<div style="display: none;">{{ field }}</div>
							{% else %}
						{% if field.is_hidden %}{{ field }}{% else %}
					<div class="row margintop">
						<div class="col-sm-3 {% if field.errors %}field-errors{% endif %}">
							{{  field.label_tag }}{% if field.field.required %}*{% endif %}
						</div>
						<div class="col-sm-9">
							{{ field }}
							 {% if field.help_text %}<br/><em>{{ field.help_text }}</em>{% endif %}
							 {% if field.errors %}<div class="form-error label label-important">{{ field.errors }}</div>{% endif %}
						</div>
					</div>
					{% endif %}
					{% endifequal %}
					{% endfor %}
					<div class="row margintop">
						<div class="col-sm-12">
							<input type="submit" name="submit" class="btn btn-info btn-blue-lrg" value="{% trans "Send" %}" >
							<span style="font-style:italic;display:block;margin-bottom:40px;overflow:hidden;"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="well">
						<h4>General Contact Information</h4>
						<strong>Front Desk:</strong> <br/>
						Mon-Fri 8 a.m. – 5 p.m. <br/>
						520-621-5828<br/><br/>
						<strong>Member Services:</strong> <br/>
						Mon–Fri 8 a.m.– 5 p.m. <br/>
						520-621-1480
						<span style="font-style:italic;display:block;margin-top:40px;">
							For more numbers and hours, please visit our <a href="https://about.azpm.org/">about page</a>.
						</span>
					</div>
				</div>
			</div>			
		</div>
</section>
{% endblock %}