{% extends "contact/base.html" %}

{% load i18n %}

{% block zone_one %}
<section id="schedules">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<span class="top-tag-row">
						<ol class="breadcrumb" style="margin-bottom: 5px;">
						  <li><a href="https://about.azpm.org/">About</a></li>
						  <li class="active">Contact</li>
						</ol>
					</span>
					<h1>Get in Touch with Us</h1>
				</div>
			</div>			
			<div class="row">
				<div class="col-sm-8">
					Have a question or comment for AZPM? We greatly value your feedback and there are many ways to contact us:
					<h4 class="margintop">Phone</h4>
					You can call the front desk during regular business hours at <strong>520-621-5828</strong>.
					<h4 class="margintop">Mail</h4>
					Our mailing address is listed to the right.
					<h4 class="margintop">Social Media</h4>
					<a href="http://m.me/azpublicmedia" target="_blank" class="btn btn-info btn-blue-lrg" style="margin-bottom:15px;">Message us on Facebook</a>
					<a href="https://twitter.com/azpm" target="_blank" class="btn btn-info btn-blue-lrg" style="margin-bottom:15px;">Message us on Twitter</a>
					<h4 class="margintop">Newsroom</h4>
					You can contact the AZPM newsroom via <a href="mailto:newsroom@apzm.org" title="Email the AZPM newsroom">email</a> or submit a story idea via our <a href="https://news.azpm.org/submitidea">online form</a>.
					<h4 class="margintop">Email</h4>
					Fill out the short form below to contact us via email. We will get back to you as soon as possible.
					<form action="." method="post">{% csrf_token %}
					<span style="overflow:hidden;height:80px;display:block;"></span>
					<h2>Contact Form</h2>
					<div class="row">
						<div class="col-sm-12">
							<span class="simplered"><em>* denotes a required field</em></span>
						</div>
					</div>
					{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        {% for field in form %}
            {% ifequal field.name "honeypot" %}
                <div style="display: none;">{{ field }}</div>
            {% else %}
                {% if field.is_hidden %}{{ field }}{% else %}
					<div class="row margintop">
						<div class="col-sm-3 contactrow {% if field.errors %}field-errors{% endif %}">
							{{  field.label_tag }}{% if field.field.required %}*{% endif %}
						</div>
						<div class="col-sm-9">
							{{ field }}
							 {% if field.help_text %}<span class="contactcaption">{{ field.help_text }}</span>{% endif %}
							 {% if field.errors %}<span class="contactcaption" style="color:red !important;">{{ field.errors }}</span>{% endif %}
						</div>
					</div>
				{% endif %}
			{% endifequal %}
		{% endfor %}
					<div class="row margintop">
						<div class="col-sm-12">
							<input type="submit" name="submit" class="btn btn-info btn-blue-lrg" value="{% trans "Send" %}" >
							<span style="font-style:italic;display:block;margin-bottom:40px;overflow:hidden;"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="well">
						<h4>General Contact Information</h4>
						<strong>Front Desk:</strong> <br/>
						Mon-Fri 8 a.m. – 5 p.m. <br/>
						520-621-5828<br/><br/>
						<strong>Member Services:</strong> <br/>
						Mon–Fri 8 a.m.– 5 p.m. <br/>
						520-621-1480<br/>
						<strong>Mailing Address:</strong>
						Arizona Public Media <br/>
						PO Box 210067 <br/>
						Tucson, Arizona 85721-0067
						<span style="font-style:italic;display:block;margin-top:40px;">
							For a complete list of numbers, addresses, and hours, please visit our <a href="https://about.azpm.org/addresses/">addresses and phone numbers</a> page.
						</span>
					</div>
				</div>
			</div>			
		</div>
</section>
{% endblock %}